@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.65rem;
  --background: oklch(0.97 0.01 248); /* slate-100 */
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0); /* slate-50, prev oklch(1 0 0); */
  --card-foreground: oklch(0.37 0.04 257); /* slate-700 */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.55 0.04 257); /* slate-500 */
  --muted-foreground: oklch(0.37 0.04 257); /* slate-700 */
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.93 0.01 256); /* slate-200 */
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}

@theme {
  --font-sourcecode: "Source Code Pro", monospace;
  --color-codeeditor: oklch(1 0 0); /* rgb(248, 248, 255); */
  --shadow-card: 0 4px 20px rgba(0, 0, 0, 0.08);
  --shadow-card-hover: 0 8px 28px rgba(0, 0, 0, 0.12);
  --shadow-skill: 0 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-skill-hover: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* 🔹 Fade + Zoom In (Lightbox open) */
  @keyframes fade-zoom-in {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  --animate-fade-zoom-in: fade-zoom-in 0.3s ease-out forwards;

  /* 🔹 Fade + Zoom Out (Lightbox close) */
  @keyframes fade-zoom-out {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.5);
      opacity: 0;
    }
  }
  --animate-fade-zoom-out: fade-zoom-out 0.3s ease-in forwards;

  /* 🔹 Slide in from right (Next) */
  @keyframes slide-next {
    from {
      transform: translateX(100%);
      opacity: 0.5;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  --animate-slide-next: slide-next 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  /* 🔹 Slide in from left (Prev) */
  @keyframes slide-prev {
    from {
      transform: translateX(-100%);
      opacity: 0.5;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  --animate-slide-prev: slide-prev 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.dark {
  --background: oklch(0.13 0.04 265); /* slate-950 */
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.04 266); /* slate-900 */
  --card-foreground: oklch(0.87 0.02 253); /* slate-400 */
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.379 0.146 265.522);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.45 0.04 257); /* slate-600, previous: oklch(0.274 0.006 286.033); */
  --muted-foreground: oklch(0.87 0.02 253); /* slate-400,  previous: oklch(0.705 0.015 286.067); */
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.28 0.04 260); /* slate-800 */
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
  --color-codeeditor: oklch(0.21 0.04 266) !important; /* slate-900 */
  --shadow-card: 0 4px 20px rgba(255, 255, 255, 0.06);
  --shadow-card-hover: 0 8px 28px rgba(255, 255, 255, 0.07);
  --shadow-skill: 0 2px 6px rgba(255, 255, 255, 0.06);
  --shadow-skill-hover: 0 4px 12px rgba(255, 255, 255, 0.12);
  h1 {
    @apply text-slate-400;
  }
  .btn-primary {
    @apply bg-blue-800 hover:bg-blue-700 text-slate-100;
  }
}

@layer utilities {
  .shadow-card {
    box-shadow: var(--shadow-card);
    transition: box-shadow 0.3s ease-in-out;
  }
  .hover\:shadow-card-hover:hover {
    box-shadow: var(--shadow-card-hover);
  }
  .shadow-skill {
    box-shadow: var(--shadow-skill);
  }
  .hover\:shadow-skill-hover:hover {
    box-shadow: var(--shadow-skill-hover);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth subpixel-antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-bold text-4xl text-slate-700;
  }
  button {
    @apply cursor-pointer;
  }
  .btn-primary {
    @apply text-sm/loose bg-blue-500 hover:bg-blue-600 tracking-wider font-medium px-3 py-2.5 text-white rounded-lg capitalize;
  }
  .skill-icon {
    @apply size-25 items-center bg-slate-200 dark:bg-card rounded-xl border border-slate-400/10 dark:border-slate-800  hover:-translate-y-1 transition-all duration-300 ease-in-out;
  }
}

.bg-transparent {
  background-color: transparent !important;
}

.hbk-swiper {
  padding: 0 calc(var(--spacing) * 7) calc(var(--spacing) * 8) !important;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0;
  font-size: 13px;
}
